page-loguin {
    .centrar{
      display: flex;
      justify-content: center;
    }
    .error {
      color: red;
      font-size: 12px;
      text-align: center;
    }
    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end] {
      color: #ffc107;
    }
    .centrar-todo {
      height: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }